<!DOCTYPE html>
<html>

<head>
	<title>Edit
		<%= person.USERNAME %>
	</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
	.toggle {
		display: none;
	}
</style>

<script>
	function validate(){
		var pass1 = document.getElementById("pass1").value;
		var pass2 = document.getElementById("pass2").value;
		if((!pass1 && pass2) || (pass1 && !pass2)){
			//prazna forma
			console.log("eno prazno geslo");
			return false;
		} else if(pass1 === pass2){
			//gesli se ujemata
			console.log("pravilno");
			return true;
		}
		console.log("narobe");
		return false;
	}

	$(document).ready(function(){
		$("#back_btn").click(function(){
			window.location.href = '/admin';
		});
		$("#toggle_pass").click(function(){
			$("#change_pass").toggle('slow');
			$(".toggle:visible").not("#change_pass").hide();
			$("#toggle_pass").toggle();
		});
	});
</script>

<body>
	<% include nav.ejs %>
		<div style="padding:25px">
			<h3 style="padding-bottom:10px">Edit
				<%= person.USERNAME %>
			</h3>
			<form action="/admin/edit/<%= person.USER_ID %>" method="POST" enctype="multipart/form-data" onsubmit="return validate()"
				style="width:22em">
				<div class="form-group">
					<label for="Upime">Username:</label>
					<input type="text" id="Upime" name="Upime" value="<%= person.USERNAME %>" class="form-control" required />
				</div>

				<div class="form-group">
					<label for="Tip">User Type:</label>
					<select id="Tip" class="form-control" name="Tip" required>
						<% if(person.TIP == 'A'){ %>
						<option value="A" selected="selected">Admin</option>
						<option value="U">User</option>
						<% } else {%>
						<option value="A">Admin</option>
						<option value="U" selected="selected">User</option>
						<% } %>
					</select>
				</div>
				<button type="button" class="btn btn-default" id="toggle_pass" style="margin-bottom:10px">Change password</button> <br
				/>
				<div id="change_pass" class="toggle">
					<div class="form-group">
						<label for="pass1">Change password:</label>
						<input type="text" class="form-control" id="pass1" name="pass1" />
					</div>
					<div class="form-group">
						<label for="pass2">Confirm password:</label>
						<input type="text" class="form-control" id="pass2" name="pass2" />
					</div>
				</div>
				<button type="submit" class="btn btn-default" style="width:10em">Submit</button> <button type="button" id="back_btn"
					class="btn btn-danger" style="width:10em">Cancel</button>
			</form>
		</div>



</body>

</html>