<!DOCTYPE html>
<html>

	<head>
		<title><%= message %></title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<body>
		<% include nav.ejs %>
		<div style="padding:25px">
			<h1><%= message %></h1>
			<% if(!prod) { %>
				<h2><%= error.status %></h2>
				<pre><%= error.stack %></pre>
			<% } %>
		</div>
	</body>
</html>




















